body {
    margin: 0;
    font-family: Arial;
    background-color: #fff8f0;
    text-align: center;
}

header {
    background-color: #d4af37;
    color: white;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

footer {
    background-color: #d4af37;
    color: white;
    padding: 10px;
}
